<!-- 
  
    <div id="preloader" class="preloader">
        <div class="loader fa fa-spin pos-center">
        </div>
    </div> -->
    <!-- ============ WRAPPER =============== -->
    <div id="pageWrapper" class="page-wrapper">
        <!-- ============ Content =============== -->
        <main class="main-content">
            <div class="page-container">
                <!-- Start Hero Area -->
                <section class="section hero-area t-center" data-bg-img="assets/images/background/16.jpg" id="heroArea">
                    <div class="hero-overlay-gradient"></div>
                    <div class="hero-content container">
                        <div class="h-full pos-r">
                            <div class="pos-tb-center">
                                <div class="row pt-60">
                                    <div class="col-md-10 col-md-offset-1 t-center">
                                        <h3 class="font-24 t-uppercase mb-30">Premium web domain, estimated value ${{primaryDomainEstimated}}</h3>
                                        <h1 class="h1 t-uppercase mb-30"><span >{{primaryDomainName}}</span> is for sale!</h1>
                                        
                                    </div>
                                </div>
                                <div class="pb-60">
                                    <a [href]="primaryDomainBuyNowUrl" class="btn btn-lg btn-orange btn-rounded">Buy Now ${{price}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- End Hero Area -->
                <!-- Start Domains Area -->
                <section class="section domains-area ptb-60">
                    <div class="container">
                        <div class="row mb-40">
                            <div class="col-lg-7 col-md-8 col-sm-10 col-xs-12 col-xs-center t-center">
                                <h2 class="mb-20 font-24 t-uppercase">OTHER DOMAINS FOR SALE</h2>
                            </div>
                        </div>
                        <div class="row row-tb-15">
                            <div *ngFor="let domain of domainList" class="col-md-6">
                                <div class="domain pos-r">
                                    <h5>{{domain.domainName}}</h5>
                                    <div class="pos-a top-10 right-10">
                                        <a [href]="domain.buyNowUrl" class="btn btn-rounded">Buy now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- End FAQ Area -->
            </div>
        </main>
       
    </div>
    <!-- ============ Back To Top =============== -->
    <div id="backTop" class="back-top is-hidden-sm-down">
        <i class="fa fa-angle-up" aria-hidden="true"></i>
    </div>
   